<!-- Author: Jamie Elder -->
<!-- Styling: Victor Smith -->
{% block content %}
{% load static %}

<head>
    <title>Foodle | Password Reset Confirm</title>
    <link rel="stylesheet" href="{% static '/css/login_styles.css' %}">
</head>
{% if validlink %}
<div style="background-color: #ffffff; width: 80%; border-radius: 10px;">
    <h1 style="text-align: center;">Set a new password!</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <p
            style="width: 80%; margin-left: 50%; -ms-transform: translate(-50%, 0%); transform: translate(-50%, 0%);  height: 60px;">
            {{ field.label }}: <br> {{ field }}</p>
        {% endfor %}
        <button type="submit"
            style=" width: 80%; margin-left: 10%; margin-right: 10%; background-color: #4caf50; color: #fff; border-radius: 4px;">Reset
            Password</button>
    </form>
</div>
{% else %}
<div style="background-color: #ffffff; width: 80%; border-radius: 10px;">
    <h1 style="text-align: center;">The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.</h1>
</div>
{% endif %}
{% endblock %}