<!-- Author: Jamie Elder -->
<!-- Styling: Victor Smith -->
{% load static %}

<head>
    <title>Foodle | Password Reset Done</title>
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
</head>
<div style="background-color: #ffffff; width: 80%; border-radius: 10px;">
    <h1 style="text-align: center;">Check your inbox.</h1>
    <hr>
    <h1 style="text-align: center; margin-bottom: 20px;"> We've emailed you instructions for setting your password. You
        should receive the email shortly!</h1>
</div>