<!-- Author: Jamie Elder -->
<!-- Styling: Victor Smith -->
{% load static %}
<head>
    <title>Foodle | Password Reset</title>
    <link rel="stylesheet" href="{% static '/css/login_styles.css' %}">
    <style>
        .input {
            width: 80%;
        }
    </style>
</head>

<div style="background-color: #ffffff; width: 80%; border-radius: 2%;">
    <h1 style="text-align: center;">Forgot your password?</h1>
    <hr>
    <h1 style="text-align: center;">Enter your email address below, and we'll email instructions for setting a new one.
    </h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send me instructions!"
            style=" width: 80%; margin-left: 10%; margin-right: 10%; background-color: #4caf50; color: #fff; border-radius: 4px; height: 60px;">
    </form>
</div>