<!-- Author: Jamie Elder -->
<!-- Contents: Daniel Hart -->
<head>
    <title>Foodle | Terms & Conditions</title>
</head>
This Privacy Policy describes how Group 4348 collects, uses, and shares personal information when you use our
application Foodle.

<ol>
    <h2>
        <li>Information We Collect</li>
    </h2>

    We collect the following types of personal information when you use our Application:<br>
    <ul>
        <li><b>Email Addresses:</b> We collect email addresses provided by users during the registration process. Emails
            are stored in plaintext for use in password recovery and use by our administrators. We do not consider
            emails to be public information, and do not display them to other base-level users.</li>

        <li><b>Usernames:</b> We collect usernames chosen by users during the registration process. Please note that
            your username is considered public information, and can be viewed by any user of the site through your use
            of our services.</li>

        <li><b>Passwords:</b> We collect passwords chosen by users during the registration process. However, passwords
            are stored in a salted and hashed form using industry standard SHA256. Thus, Group 4248 do not know your
            plaintext password at any point, and the integrity of your passwords is maintained in the unlikely event of
            a database leak.</li>
    </ul>
    <h2>
        <li>How We Use Your Information</li>
    </h2>
    We use the personal information we collect for the following purposes:
    <ul>
        <li><b>User Authentication:</b> We use email addresses to reset the password of the account provided.</li>

        <li><b>Providing Services:</b> We use usernames to provide you with the services offered through our
            Application.</li>

        <li><b>Communication:</b> We may use your email address to communicate with you, such as sending important
            updates or
            notifications related to the Application.</li>

        <li><b>Improving Our Services:</b> We may use aggregated and anonymized data for analytical purposes to
            improve our services and enhance the user experience.</li>
    </ul>

    <h2>
        <li>Account Deletion</li>
    </h2>

    You have the right to delete your account at any time. Upon account deletion, you understand that we remove:
    <ul>
        <li><b>Username:</b> Your username is deleted from our databases. Any reference to your username on our website
            is replaced by an anonymous placeholder.</li>

        <li><b>Email:</b> Your email is deleted from our database.</li>
        <li><b>Password:</b> The salted hash of your password is deleted from our database. </li>
    </ul>
    You understand that upon account deletion, we keep anonymised versions of the following activity undertaken by you
    on our website:
    <ul>
        <li><b>Recipes:</b> We store the recipes you have created even after your account has been deleted. The username
            attributed to your recipes is replaced with an anonymous placeholder.</li>
    </ul>
    <h2>
        <li>Legal Basis for Processing</li>
    </h2>

    We collect and process your personal information based on the following legal bases:
    <ul>
        <li><b>Consent:</b> We obtain your consent before collecting and processing your personal information for
            certain purposes, such as when you register an account with us.</li>

        <li><b>Legitimate Interests:</b> We may process your personal information for our legitimate interests, such as
            improving our services and enhancing the security of our Application.</li>
    </ul>

    <h2>
        <li>Data Security</li>
    </h2>

    We take appropriate technical and organizational measures to protect your personal information from unauthorized
    access, disclosure, alteration, or destruction. We store passwords in hashed form using strong encryption
    methods to ensure the security of your account.

    <h2>
        <li>Sharing of Personal Information</li>
    </h2>

    We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except
    in the following circumstances:

    <ul>
        <li><b>Legal Compliance:</b> We may disclose your personal information if required by law or in response to
            valid legal requests, such as court orders or subpoenas.</li>
    </ul>
    <h2>
        <li>Your Rights</li>
    </h2>

    You have the following rights regarding your personal information:
    <ul>
        <li><b>Access:</b> You have the right to request access to the personal information we hold about you.</li>

        <li><b>Rectification:</b> You have the right to request that we correct any inaccuracies in your personal
            information.</li>

        <li><b>Erasure:</b> You have the right to request that we erase your personal information under certain
            circumstances.</li>

        <li><b>Data Portability:</b> You have the right to receive a copy of your personal information in a structured,
            machine-readable format.</li>

        <li><b>Withdrawal of Consent:</b> If we are processing your personal information based on your consent, you have
            the right to withdraw your consent at any time.</li>
    </ul>

    <h2>
        <li>Changes to This Privacy Policy</li>
    </h2>

    We may update this Privacy Policy to reflect changes in our practices or legal requirements. We will notify you of
    any material changes by posting the updated Privacy Policy on our website or through other appropriate channels.

    <h2>
        <li>GDPR</li>
    </h2>

    We created this Application in accordance with the General Data Protection Regulation (GDPR) and this page was
    written to outline this and provide users with the information needed to feel comfortable and confident in using our
    Application.

    <h2>
        <li>Contact Us</li>
    </h2>

    If you have any questions or concerns about this Privacy Policy or our practices regarding your personal
    information, please contact us at <a
        href="mailto:foodle.devteam@gmail.com?subject = Feedback">foodle.devteam@gmail.com</a>.
    <br>
</ol>

<h1>By using our App, you consent to the collection, use, and sharing of your personal information as described in this
    Privacy Policy.</h1>