<!-- Author: Jamie Elder -->
<!-- Styling: Victor Smith -->
<!-- The Foodle game page with points display and a button for caching points -->
{% extends 'foodle/index.html' %}
{% block content %}
<html>

<head>
  <title>Foodle | Play Foodle</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'foodle/css/foodle.css' %}" />
  <script src="{% static 'foodle/js/foodle.js' %}"></script>
</head>

<body>
  <h1 id="title">Foodle</h1>
  <hr />
  <br />
  <div id="board"></div>
  <p id="points">Points: 0</p>
  <button id="submit_score">Submit and Return</button>
  <!-- header for displaying the foodle answers - initially hidden with a filler to maintain height of element -->
  <h1 id="answer" style="visibility: hidden;"> FILLER </h1>

  <form id="score_form" style="display: none;" action="" method="POST">
    {% csrf_token %}
    <input type="hidden" id="score_field" step="0" required name="score">
  </form>
</body>

</html>
{% endblock content %}